img {
    border: 1px solid white;
    
    width: 100px;
    height: 100px;

}


#name1{
    width: 200px;
    height: 200px;
    padding: 5px;
    border: solid 5px;
    border-color: blue;
    float: left;
    text-align: left;
    background-color:white;
    
    }
#name1:hover{
background-color:#A9A9A9;
border: solid 2px;
}

@media (max-width: 600px) {
nav, article {
width: 100%;
height: auto;
}
}
section:after {
content: "";
display: table;
clear: both;
}


footer {
/* background-color: #777; */
padding: 10px;
text-align: center;
color: white;
border: 2px;
background-color:blue;
border: 2px solid white;
}

nav ul {
list-style-type: none;
padding: 0;

}

article {
float: left;
padding: 20px;
width: 70%;
background-color: #f1f1f1;
height: 300px; 

}

nav {
float: left;
width: 30%;
height: 700px; 
background: #ccc;
padding: 20px;
background-color:blue;
}
* {
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}


header {
background-color:blue;
padding: 30px;
text-align: center;
font-size: 35px;
color: white;
border: 2px solid white;
}

button{
    padding: 10px;
    margin:10px;
    border:4px solid cornflowerblue;
    border-radius: 10px;
}
button:hover{
background-color:white;
border: solid 2px;
}
#clogo{

    text-align: left;
   
}

#uname{
    text-align: right;
    
}
#navbar{
    text-align: center;
    background-color:blue;
}